.wrapper {
  margin-top: 60px;
  background: none;
  display: grid;
  grid-auto-rows: 300px;
  grid-auto-columns: 500px;
  grid-template-columns: 50% 50%;
  grid-row-gap: 3em;
  grid-column-gap: none;
}

.wrapper > div {
  background: none;
  padding: 1em;
}

.image {
  align-self: center;
  height: 100%;
  width: 80%;
}

.text {
  height: 100%;
  width: 80%;
  align-self: stretch;
  margin-top: 50px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 12;
  color: #2b2828;
  text-align: center;
}
