* {box-sizing: border-box}

body
{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color:#4CAF50;
}

/* FOR MOBILE DEVICES: */
@media only screen and (max-width: 640px) {

   .databasecontainer
  {
      background-color: darkgray;
      width: 100%;
      height: 100%;
      border: 10px solid darkgray;
      margin-bottom: 10px;
  }

}

/* FOR LARGER SCREENS */
@media only screen and (min-width: 641px) {

  .databasecontainer
  {
      background-color: darkgray;
      height: fit-content;
      border: 10px solid darkgray;
      margin-bottom: 10px;
      float: right;
      width: 100%;
      display: block;
      position: relative;
  }

  .database-toolbar
  {
      float: right;
      text-align: right;
      padding: 5px;
      width: 100%;
  }

}

.profilepiccontainer {
  position: relative;
  float: center;
  display: block;
  position: relative;
  text-align: center;
}

.profilepiccontainer .changepic {
  position: absolute;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  transition: .5s ease;
  background: transparent;
}

.profilepic
{
    position: relative;
    float: center;
    text-align: center;
    border: 8px solid white;
    padding: 0px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    transition: .5s ease;
}

.profilepiccontainer:hover .profilepic {
  opacity: 0.3;
}

.profilepiccontainer:hover .changepic {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.settingbutton
{
  display: block;
  border: none; 
  background-color: white;
  cursor: pointer;
  margin: 10px;
}


#database td, #database th {
  border: 1px solid #ddd;
  padding: 8px;
}
/* To make the table corners rounded
#users th:first-of-type {
  border-top-left-radius: 10px;
}
#users th:last-of-type {
  border-top-right-radius: 10px;
}

#users tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
#users tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}
*/

#database tr:nth-child(even){background-color: #f2f2f2;}
#database tr:nth-child(odd){background-color: lightgrey;}
#database tr:hover {background-color: #ddd;}

#database th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color:#4CAF50;
  color: white;
  display: incline;
  width: fit-content;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: left;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  color: white;
  float: right;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.action-buttons
{
    float: center;
    display: block;
}

.database-header-container
{
  position: relative;
  float: center;
}

.header-button
{
  float: center;
  text-align: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

#search-bar-database {
  background-image: url('/search-line.png'); /* Add a search icon to input */
  background-position: 2px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  background-size: 20px 20px;
  padding-left: 25px;
  padding-top: 5px;
  border: 1px solid #ddd; /* Add a grey border */
  display: inline;
  float: center;
  width: 20%;
}

.action-buttons button{
  
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.filter_button
{
  float: center;
  border: none;
  background: white;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
  display: inline;
  padding: 2px;
}