* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  float: center;
}

.button {
  background-color: #ff8d0a;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 40%;
  cursor: pointer;
}

.button:hover {
  background-color: #9c4226;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #9c4226;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.mail {
  float: center;
  border-radius: 5px;
  background-color: #cfe4b9;
  padding: 20px;
}
