* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

html {
  font-size: 10px;
}

body {
  background-color: rgba(51, 61, 47, 0.993);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.slides {
  z-index: -99;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: block;
}

.slides-show {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleImages 31s infinite;
}

.slides-show:nth-child(1) {
  animation-delay: 0s;
}

.slides-show:nth-child(2) {
  animation-delay: 10s;
}

.slides-show:nth-child(3) {
  animation-delay: 20s;
}

.slides-show img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slides-show-text {
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: 40%;
  height: fit-content;
  border-radius: 5px;
  bottom: 45rem;
  background-color: rgba(39, 36, 36, 0.8);
  color: rgb(255, 255, 255);
}

.slides-show-text h5 {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
}

.slides-show-text p {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 200;
}

.navigation1 {
  position: absolute;
  bottom: 200px;
  left: 20%;
}
.navigation2 {
  position: absolute;
  bottom: 200px;
  right: 20%;
}

.button1 {
  position: absolute;
  display: inline-block;
  border-radius: 10px;
  background-color: #cf904c;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 60px;
  width: 280px;
  transition: all 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-left: -50px;
  margin-top: -50px;
  font-size: 35px;
  box-shadow: 0 10px 10px #473125;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button1 span:after {
  position: absolute;
  opacity: 0;
  top: 0;

  transition: 0.5s;
}

.button1:hover span {
  padding-left: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  background-color: #cf904c;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 60px;
  width: 280px;
  transition: all 0.4s;
  cursor: pointer;
  margin-left: -250px;
  margin-top: -50px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 35px;
  box-shadow: 0 10px 10px #473125;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button2 span:after {
  position: absolute;
  opacity: 0;
  top: 0;

  transition: 0.5s;
}

.button2:hover span {
  padding-left: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

@keyframes cycleImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@media screen and (max-width: 1060px) {
  .slides-show-text {
    width: 100%;
    top: 40%;
    position: absolute;
    height: fit-content;
    padding: 1rem 1rem;
    bottom: 0rem;
  }

  .slides-show-text h5 {
    font-size: 4rem;
  }

  .slides-show-text p {
    font-size: 2.5rem;
  }

  .button1 {
    position: absolute;
    text-align: center;
    font-size: 20px;
    padding: 40px;
    width: 180px;
    cursor: pointer;
    margin: -50px;
  }

  .button2 {
    position: absolute;
    text-align: center;
    font-size: 20px;
    padding: 40px;
    width: 180px;
    cursor: pointer;
    margin: -50px;
  }
}

@media screen and (max-width: 767px) {
  .slides-show-text {
    max-width: 100%;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    position: absolute;
    transform: initial;
    top: 40%;
    height: fit-content;
  }

  .slides-show-text h5 {
    font-size: 3rem;
  }

  .slides-show-text p {
    text-align: center;
    font-size: 2rem;
  }

  .button1 {
    position: absolute;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px;
    width: 130px;
    cursor: pointer;
    margin: -50px;
  }

  .button2 {
    position: absolute;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px;
    width: 130px;
    cursor: pointer;
    margin: -50px;
  }

  .button2:hover span {
    padding-left: 15px;
  }
}

@media screen and (max-width: 680px) {
  .slides-show-text {
    max-width: 100%;
    position: absolute;
    transform: initial;
    top: 40%;
    height: fit-content;
  }

  .slides-show-text h5 {
    font-size: 2rem;
  }

  .slides-show-text p {
    text-align: center;
    font-size: 1.1rem;
  }

  .button1 {
    position: absolute;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px;
    width: 120px;
    cursor: pointer;
    margin: -50px;
    transform: translateY(80px);
  }

  .button2 {
    position: absolute;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px;
    width: 120px;
    cursor: pointer;
    margin: -50px;
    margin-left: -80px;
    transform: translateY(80px);
  }
}
