html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/*---------------- Header -------------------------*/

/*------------------ Container and list ---------------*/

.container {
  padding: 7% 7%;
  overflow: auto;
}
.container-search {
  margin-top: 100px;
}
.container .search-container {
  float: left;
  padding: 5px;
  width: 400px;
}

.container input[type="text"] {
  padding: 6px;
  margin-top: 30px;
  font-size: 17px;
  border: none;
  width: 330px;
  background-color: rgb(230, 230, 230);
  border-radius: 2px;
}

.container .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 30px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.container .search-container button:hover {
  background: #ccc;
}

.list-container {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*---------------- lesft listings ----------------------*/

.left {
  flex-basis: 100%;
}

.left h1 {
  color: #333;
  font-weight: 600;
  margin-bottom: 30px;
}

.left p {
  color: rgba(51, 51, 51, 0.582);
}

.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 50px;
  border-top: 1px ridge #ccc;
  box-shadow: 10px 10px 10px #88888836;
}

.product-img {
  flex-basis: 27%;
  transform: translateY(50px);
}

.product-img img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #88888836;
}

.product-info {
  flex-basis: 70%;
  color: rgba(85, 85, 85, 0.582);
}

.product-info h3 {
  font-weight: 600;
  color: #333;
  font-size: 22px;
  margin: 4px 0;
}

.product-info h5 {
  margin: 10px;
  color: #333;
}

.product-info a {
  margin: 5px;
  color: rgb(255, 136, 0);
}

.product-price {
  text-align: right;
  top: auto;
  margin-right: 10px;
}

.product-price h4 {
  font-size: 20px;
  color: black;
}

.product-price p {
  margin-bottom: -20px;
  font-size: 15px;
}

.product-price span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(51, 51, 51);
}

textarea {
  width: 100%;
}

@keyframes display {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(0px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: display 30s infinite;
}

img:nth-child(2) {
  animation-delay: 10s;
}
img:nth-child(3) {
  animation-delay: 20s;
}

/*-------------footer--------------*/

/*------------medias----------------*/

@media only screen and (max-width: 499px) {
  .product-img {
    top: 10px;
    padding: 11rem 0rem;
  }

  .product-img img {
    flex-basis: 27%;
  }

  .container {
    padding: 0rem 0rem;
  }
  .left {
    left: 100%;
  }

  .list-container {
    margin-top: 1px;
  }
  .product-info {
    flex-basis: 75%;
  }

  .list-container {
    margin-top: 150px;
  }
  .left,
  .product-img,
  .product-info {
    flex-basis: 100%;
  }

  .left h1 {
    font-size: 22px;
  }
  .product-info h3 {
    font-size: 18px;
  }

  textarea {
    width: 90%;
  }
}

@media only screen and (max-width: 1100px) {
  .product-img {
    transform: translateY(120px);
  }
  .pic {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 280px) {
  .container {
    padding: 0% 0%;
  }

  .left h1 {
    color: #333;
    font-weight: 600;
    font-size: 13px;
  }

  .product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 5px;
    border-top: 1px ridge #ccc;
    box-shadow: 10px 10px 10px #88888836;
  }

  .product-img {
    flex-basis: 50%;
    transform: translateY(120px);
  }

  .product-info {
    flex-basis: 60%;
  }

  .product-info h3 {
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
  }

  .logo {
    padding: 11px;
    font-size: 20px;
  }
}
