*{
    font-size: 1.2rem;
}

.searchbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    background:#04aa6d;
    background: linear-gradient(to right, rgb(245, 187, 140), #04aa6d);
    padding: 0.2rem;
    border-radius: 0.8rem;
    color:azure;
    box-shadow: 0.3rem 0.3rem 0.1rem rgb(199, 194, 194);
}


input {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    width: 80%;
    border: none;
    outline: none;
    background: linear-gradient(to right, rgb(245, 187, 140), #04aa6d);
    color:azure;

}

form.sumbit button {
    align-items: center;
    float: left;
    width: 100%;
    padding: 10px;
    background: none;
    color: white;
    font-size: 20px;
    border: 1px none;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }


form.reset button {
    align-items: center;
    float: center;
    width: 10%;
    padding: none;
    background: none;
    color: white;
    font-size: 22px;
    border: 1px none;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }



::placeholder{
    color:rgb(224, 224, 224);
}