* {box-sizing: border-box}

body
{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.progressbarcontainer
{
    position: relative;
    text-align: left;
    width: 100%;
    height: fit-content;
    transition: .5s ease;
}

.progressbar-icon
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:10;
}


.circular{
    height:100px;
    width: 100px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    
  }
  .circular .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: white;
    border-radius: 100%;
   
  }
  .circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: grey;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
  }
  .circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: rgb(254, 143, 40);
  }
  .circle .left .progress{
    z-index:1;
    animation: left 4s linear both;
  }
  
  @keyframes left{
    100%{
      transform: rotate(180deg);
    }
  }
  
  .circle .right {
    transform: rotate(180deg);
    z-index:3;
   
  }
  .circle .right .progress{
    animation: right 4s linear both;
    animation-delay:4s;
  }
  
  @keyframes right{
    100%{
      transform: rotate(180deg);
    }
  }

  .progressbar
  {
      z-index: 6;
      background-color:rgb(254, 143, 40);
      transition:  0.5s ease-in-out;
  }

  .progressbarempty
  {
      background-color: lightgrey;
  }

  .continue-button
  {
    margin-top: 50px;
    background-color: #32cd32;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    float: right;
  }

  .continue-button:hover {
    background-color: #269c26;
  }